.bg-white{
background-color: white;
}
.details{
    margin-top: 1em;
    min-width: 800px;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
    flex-grow: 0;
}

.p-4{

    padding-right: 4em;
}
