.bg-white{
background-color: white;
}
.details{
    margin-top: 1em;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
.w-75{
width: 75%;
}
.small-container{
padding: 4em 16em;
}
.wrap{
    display: flex;
    justify-content: center;

}
.w-50{
    width: 50%;
}

